# **Import Dataset**

In [ ]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

# **Dataset**

In [ ]:
df = pd.read_csv("PetaBencana_Dataset.csv")
df

,pkey,date,time,source,status,url,image_url,disaster_type,report_dat,tags,...,ID_Desa,ID_Kec,ID_Kab,ID_Prov,Desa,Kecamatan,Kabupaten,Provinsi,long,lat
0,94941,01/01/2020,00:03:02,grasp,confirmed,2042596d-b551-4ef2-803d-1ee964cf2278,https://images.petabencana.id/2042596d-b551-4e...,flood,"{ ""report_type"": ""flood"", ""flood_depth"": 30 }","{ ""district_id"": ""3174"", ""local_area_id"": ""125...",...,3.174020e+09,3174020.0,3174.0,31.0,Duri Kepa,Kebon Jeruk,Jakarta Barat,Daerah Khusus Ibukota Jakarta,106.768660,-6.169780
1,95061,01/01/2020,00:43:02,grasp,confirmed,5a0ad45f-7020-43b7-882f-672487ebc6d8,https://images.petabencana.id/5a0ad45f-7020-43...,flood,"{ ""points"": 1, ""flood_depth"": 80, ""report_type...","{ ""district_id"": null, ""local_area_id"": null, ...",...,3.275061e+09,3275061.0,3275.0,32.0,Pejuang,Medan Satria,Bekasi,Jawa Barat,106.978700,-6.179440
2,95062,01/01/2020,01:14:53,grasp,confirmed,e065b40d-2084-48d6-b42f-1f98cb33e4cc,NaN,flood,"{ ""points"": 1, ""flood_depth"": 51, ""report_type...","{ ""district_id"": ""3172"", ""local_area_id"": ""178...",...,3.172060e+09,3172060.0,3172.0,31.0,Cipinang Muara,Jatinegara,Jakarta Timur,Daerah Khusus Ibukota Jakarta,106.891000,-6.234490
3,95063,01/01/2020,01:15:08,grasp,confirmed,7cb26903-b1c8-4be7-8b81-7014c8a83fbd,https://images.petabencana.id/7cb26903-b1c8-4b...,flood,"{ ""points"": 2, ""flood_depth"": 100, ""report_typ...","{ ""district_id"": null, ""local_area_id"": null, ...",...,3.216061e+09,3216061.0,3216.0,32.0,Mekarmukti,Cikarang Utara,Bekasi,Jawa Barat,107.161890,-6.301700
4,95064,01/01/2020,01:18:03,grasp,confirmed,570d2cb8-d5b6-404f-86ef-8a2a0d27f391,https://images.petabencana.id/570d2cb8-d5b6-40...,flood,"{ ""points"": 1, ""flood_depth"": 15, ""report_type...","{ ""district_id"": ""3173"", ""local_area_id"": ""193...",...,3.173060e+09,3173060.0,3173.0,31.0,Cempaka Baru,Kemayoran,Jakarta Pusat,Daerah Khusus Ibukota Jakarta,106.860920,-6.168590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4230,299721,28/12/2021,01:23:43,grasp,confirmed,8f41806c-9d86-47a8-b52a-28cf0ec0a0be,https://images.petabencana.id/8f41806c-9d86-47...,flood,"{ ""report_type"": ""flood"", ""flood_depth"": 103 }","{ ""district_id"": null, ""local_area_id"": null, ...",...,6.404054e+09,6404054.0,6404.0,64.0,Karangan Hilir,Karangan,Kutai Timur,Kalimantan Timur,117.665504,1.351043
4231,299723,28/12/2021,08:00:14,grasp,confirmed,d1bcdbc7-1819-41aa-b5fe-34d0162bb084,NaN,flood,"{ ""report_type"": ""flood"", ""flood_depth"": 54 }","{ ""district_id"": ""3173"", ""local_area_id"": ""678...",...,3.173070e+09,3173070.0,3173.0,31.0,Karang Anyar,Sawah Besar,Jakarta Pusat,Daerah Khusus Ibukota Jakarta,106.827622,-6.157398
4232,299724,28/12/2021,10:49:49,grasp,confirmed,ee548663-23ad-4adb-8d85-f8c64b1fbb6c,https://images.petabencana.id/ee548663-23ad-4a...,flood,"{ ""report_type"": ""flood"", ""flood_depth"": 19 }","{ ""district_id"": null, ""local_area_id"": null, ...",...,3.207111e+09,3207111.0,3207.0,32.0,Purwajaya,Purwadadi,Ciamis,Jawa Barat,108.695570,-7.460077
4233,299726,29/12/2021,07:22:30,detik,confirmed,https://pasangmata.detik.com/contribution/363227,https://akcdn.detik.net.id/community/pasma/202...,flood,NaN,"{ ""district_id"": ""3172"", ""local_area_id"": ""267...",...,3.172040e+09,3172040.0,3172.0,31.0,Cipinang Melayu,Makasar,Jakarta Timur,Daerah Khusus Ibukota Jakarta,106.916313,-6.251612
4234,299728,30/12/2021,09:32:42,grasp,confirmed,14171753-a6db-40e7-8acf-31dec5dff2d6,https://images.petabencana.id/14171753-a6db-40...,flood,"{ ""report_type"": ""flood"", ""flood_depth"": 22 }","{ ""district_id"": null, ""local_area_id"": null, ...",...,5.102040e+09,5102040.0,5102.0,51.0,Banjar Anyar,Kediri,Tabanan,Bali,115.142300,-8.554095

In [ ]:
df["tahun"] = df["date"].map(lambda x: datetime.strptime(x,'%d/%m/%Y').strftime("%Y"))

flood_depth = [json.loads(x) if str(x) != "nan" else str(0) for x in df["report_dat"].tolist()]
flood_depth_2 = [x["flood_depth"] if "flood_depth" in x else 0 for x in flood_depth ]
df["flood_depth"] = flood_depth_2

df_coba = df.query("Provinsi == 'Daerah Khusus Ibukota Jakarta' and disaster_type == 'flood'")
df_coba.head()

df_coba.groupby(["Kecamatan","tahun"]).agg({"flood_depth":[np.mean,np.median]}).to_excel("wkwkw.xlsx")

# **Final Project**

In [ ]:
def unique(list1):
  
    # initialize a null list
    unique_list = []
  
    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print(x)

In [ ]:
volcano_df = pd.DataFrame({"report_dat": [{ "report_type": "volcano", "volcanicSigns": [ 3 ], "evacuationNumber": 3, "evacuationArea": "true" },
                                          { "points": 1, "report_type": "volcano", "volcanicSigns": [ 0, 1, 3, 4, 2 ], "evacuationArea": "true", "evacuationNumber": 2 },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 2, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 2, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 3, 4 ], "evacuationNumber": 2, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 2, "evacuationArea": "true" },
                                          { "points": 1, "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationArea": "true", "evacuationNumber": 3 },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 3, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 1, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 3 ], "evacuationNumber": 1, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 0, 1, 2, 3 ], "evacuationNumber": 3, "evacuationArea": "false" },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 1, "evacuationArea": "false" },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 3, "evacuationArea": "true" },
                                          { "points": 2, "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationArea": "true", "evacuationNumber": 2 },
                                          { "points": 2, "report_type": "volcano", "volcanicSigns": [ 0, 4 ], "evacuationArea": "false", "evacuationNumber": 1 },
                                          { "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationNumber": 1, "evacuationArea": "true" },
                                          { "report_type": "volcano", "volcanicSigns": [ 0, 3, 4 ], "evacuationNumber": 3, "evacuationArea": "true" },
                                          { "points": 1, "report_type": "volcano", "volcanicSigns": [ 4 ], "evacuationArea": "true", "evacuationNumber": 2 }],
                           "Desa": ["Kesatrian",
                                    "Cikahuripan",
                                    "Kepuh Harjo",
                                    "Tegalmulyo",
                                    "Sidorejo",
                                    "Tamansari",
                                    "Gunosari",
                                    "Nglurup",
                                    "Glagah Harjo",
                                    "Hargo Binangun",
                                    "Belinteng",
                                    "Tamansari",
                                    "Kota Baru",
                                    "Tamansari",
                                    "Tamansari",
                                    "Tamansari",
                                    "Pakem Binangun",
                                    "Supiturang"]})
volcano_df

                                           report_dat            Desa
0   {'report_type': 'volcano', 'volcanicSigns': [3...       Kesatrian
1   {'points': 1, 'report_type': 'volcano', 'volca...     Cikahuripan
2   {'report_type': 'volcano', 'volcanicSigns': [4...     Kepuh Harjo
3   {'report_type': 'volcano', 'volcanicSigns': [4...      Tegalmulyo
4   {'report_type': 'volcano', 'volcanicSigns': [3...        Sidorejo
5   {'report_type': 'volcano', 'volcanicSigns': [4...       Tamansari
6   {'points': 1, 'report_type': 'volcano', 'volca...        Gunosari
7   {'report_type': 'volcano', 'volcanicSigns': [4...         Nglurup
8   {'report_type': 'volcano', 'volcanicSigns': [4...    Glagah Harjo
9   {'report_type': 'volcano', 'volcanicSigns': [3...  Hargo Binangun
10  {'report_type': 'volcano', 'volcanicSigns': [0...       Belinteng
11  {'report_type': 'volcano', 'volcanicSigns': [4...       Tamansari
12  {'report_type': 'volcano', 'volcanicSigns': [4...       Kota Baru
13  {'points': 2, 'report_type': 'volcano', 'volca...       Tamansari
14  {'points': 2, 'report_type': 'volcano', 'volca...       Tamansari
15  {'report_type': 'volcano', 'volcanicSigns': [4...       Tamansari
16  {'report_type': 'volcano', 'volcanicSigns': [0...  Pakem Binangun
17  {'points': 1, 'report_type': 'volcano', 'volca...      Supiturang

In [ ]:
volcano_df["evacuationArea"] = evacuation_area
volcano_df

,report_dat,Desa,evacuationArea
0,"{'report_type': 'volcano', 'volcanicSigns': [3...",Kesatrian,true
1,"{'points': 1, 'report_type': 'volcano', 'volca...",Cikahuripan,true
2,"{'report_type': 'volcano', 'volcanicSigns': [4...",Kepuh Harjo,true
3,"{'report_type': 'volcano', 'volcanicSigns': [4...",Tegalmulyo,true
4,"{'report_type': 'volcano', 'volcanicSigns': [3...",Sidorejo,true
5,"{'report_type': 'volcano', 'volcanicSigns': [4...",Tamansari,true
6,"{'points': 1, 'report_type': 'volcano', 'volca...",Gunosari,true
7,"{'report_type': 'volcano', 'volcanicSigns': [4...",Nglurup,true
8,"{'report_type': 'volcano', 'volcanicSigns': [4...",Glagah Harjo,true
9,"{'report_type': 'volcano', 'volcanicSigns': [3...",Hargo Binangun,true
10,"{'report_type': 'volcano', 'volcanicSigns': [0...",Belinteng,false
11,"{'report_type': 'volcano', 'volcanicSigns': [4...",Tamansari,false
12,"{'report_type': 'volcano', 'volcanicSigns': [4...",Kota Baru,true
13,"{'points': 2, 'report_type': 'volcano', 'volca...",Tamansari,true
14,"{'points': 2, 'report_type': 'volcano', 'volca...",Tamansari,false
15,"{'report_type': 'volcano', 'volcanicSigns': [4...",Tamansari,true
16,"{'report_type': 'volcano', 'volcanicSigns': [0...",Pakem Binangun,true
17,"{'points': 1, 'report_type': 'volcano', 'volca...",Supiturang,true

In [ ]:
display(volcano_df[volcano_df["evacuationArea"] == "true"])
display(volcano_df[volcano_df["evacuationArea"] == "false"])

              Desa evacuationArea
0        Kesatrian           true
1      Cikahuripan           true
2      Kepuh Harjo           true
3       Tegalmulyo           true
4         Sidorejo           true
5        Tamansari           true
6         Gunosari           true
7          Nglurup           true
8     Glagah Harjo           true
9   Hargo Binangun           true
12       Kota Baru           true
13       Tamansari           true
15       Tamansari           true
16  Pakem Binangun           true
17      Supiturang           true

         Desa evacuationArea
10  Belinteng          false
11  Tamansari          false
14  Tamansari          false